<%= form_for [@post, @comment] do |f| %>
  <%= render 'shared/errors', obj: @comment %>
  <div class="control-group">
    <%= f.label :body, 'Leave a comment' %>
    <%= f.text_area :body, rows: 3, class: 'span4' %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
<% end %>